<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TransferService" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
                    messageEncoding="Mtom" />
                <binding name="BasicHttpBinding_IService_Trabajador" />
                <binding name="BasicHttpBinding_IService_Venta" />
                <binding name="BasicHttpBinding_IService_Cliente" />
                <binding name="BasicHttpBinding_IService_Ingreso" />
                <binding name="BasicHttpBinding_IService_Proveedor" />
                <binding name="BasicHttpBinding_IService_Articulo" maxBufferSize="2147483647"
                    maxReceivedMessageSize="2147483647" />
                <binding name="BasicHttpBinding_IService_Presentacion" />
                <binding name="BasicHttpBinding_IService_Categoria" />
                <binding name="BasicHttpBinding_IService_Articulo1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49617/Service_Trabajador.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService_Trabajador"
                contract="ServiceTrabajador.IService_Trabajador" name="BasicHttpBinding_IService_Trabajador" />
            <endpoint address="http://localhost:49617/Service_Venta.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService_Venta"
                contract="ServiceVenta.IService_Venta" name="BasicHttpBinding_IService_Venta" />
            <endpoint address="http://localhost:49617/Service_Ingreso.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService_Ingreso"
                contract="ServiceIngreso.IService_Ingreso" name="BasicHttpBinding_IService_Ingreso" />
            <endpoint address="http://localhost:49617/Service_Proveedor.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService_Proveedor"
                contract="ServiceProveedor.IService_Proveedor" name="BasicHttpBinding_IService_Proveedor" />
            <endpoint address="http://localhost:49617/Service_Articulo.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService_Articulo"
                contract="ServiceArticulo.IService_Articulo" name="BasicHttpBinding_IService_Articulo" />
            <endpoint address="http://localhost:49617/Service_Presentacion.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService_Presentacion"
                contract="ServicePresentacion.IService_Presentacion" name="BasicHttpBinding_IService_Presentacion" />
            <endpoint address="http://localhost:49617/Service_Categoria.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService_Categoria"
                contract="ServiceCategoria.IService_Categoria" name="BasicHttpBinding_IService_Categoria" />
            <endpoint address="http://localhost:49617/Service_Cliente.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService_Cliente"
                contract="ServiceCliente.IService_Cliente" name="BasicHttpBinding_IService_Cliente" />
            <endpoint address="http://localhost:49617/Service_Articulo.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService_Articulo1"
                contract="ServiceR_Articulo.IService_Articulo" name="BasicHttpBinding_IService_Articulo1" />
        </client>
    </system.serviceModel>
</configuration>